<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FitTrack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrack">

        <activity
            android:name=".frontend.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.LoginActivity"
            android:exported="true" />
        <activity android:name=".frontend.SignUpActivity" />
        <activity android:name=".frontend.OnboardingActivity" />
        <activity android:name=".frontend.HealthConditionActivity" />
        <activity android:name=".frontend.DashboardActivity" />
        <activity android:name=".frontend.FitnessScoreActivity" />
        <activity android:name=".frontend.WorkoutHomeActivity" />
        <activity android:name=".frontend.WorkoutDetailActivity" />
        <activity android:name=".frontend.ActiveWorkoutActivity" />
        <activity android:name=".frontend.StressMapperActivity" />
        <activity android:name=".frontend.YogaHomeActivity" />
        <activity android:name=".frontend.MicroWorkoutActivity" />
        <activity android:name=".frontend.DietHomeActivity" />
        <activity android:name=".frontend.RegionalDietActivity" />
        <activity android:name=".frontend.PantryGeneratorActivity" />
        <activity android:name=".frontend.QuickLogActivity" />
        <activity android:name=".frontend.WaterTrackerActivity" />
        <activity android:name=".frontend.GoalPredictorActivity" />
        <activity android:name=".frontend.HabitPredictorActivity" />
        <activity android:name=".frontend.HabitCorrelationActivity" />
        <activity android:name=".frontend.HabitCoachActivity" />
        <activity android:name=".frontend.ProgressActivity" />
        <activity android:name=".frontend.ProfileActivity" />
        <activity android:name=".frontend.SettingsActivity" />
        <activity android:name=".frontend.EditProfileActivity" />
        <activity android:name=".frontend.ExerciseDetailActivity" />

    </application>

</manifest>